project_code/build/project_code.dir
project_code/build/RelWithDebInfo
project_code/build/x64
project_code/build/CMakeCache.txt
project_code/build/CMakeFiles
*.sdf
*.suo
*.opensdf
*.dll
*.o
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
*.ERR
.vs
